html {
	font-size: 62.5%;
} 

body{
	font-family: 'Lato', serif;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.42857143;
	background: darken($colorWhite, 5); 
}

.tapume{
	position: relative;
	height: 100vh;
	min-height: 260px;
	background: linear-gradient(to top, #000 ,#090909);
	p{
    font-size: 2rem;
    color: $colorPrimary;
	}
	i{
		font-size: 2rem;
	}
	a{
		position: absolute;
		bottom: 20px;
		color: $colorPrimary;
			@extend .transition;
		&:hover{
			color: darken($colorPrimary, 20);
			text-decoration: none;
			transform: scale(1.25);
		}
	}
}


footer{
	height: 100px;
	background: lighten($colorBlack, 50);
}

.hero{
	
}

a.link{
	@extend .transition; 
	&:hover{
		text-decoration: none;
		@extend .transition;
	}
}