//********************
// colors
//********************
$color-blue: #3D5DA8;
$color-orange: #FF7C2B;
$color-gray-light: #4D4D4D;
$color-gray-dark: #151515;
$color-black: #000;
$color-white: #FFF;

//********************
// media-queries
//********************
$mobi-xs: "only screen and (max-width: 575px)";
$mobi: "only screen and (min-width: 576px) and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 991px)";
$notebook: "only screen and (min-width: 992px) and (max-width: 1199px)";
$desktop: "only screen and (min-width: 1200px)";

$mobi-xs-down: "only screen and (max-width: 575px)";
$mobi-down: "only screen and (max-width: 767px)";
$tablet-down: "only screen and (max-width: 991px)";
$notebook-down: "only screen and (max-width: 1199px)";
$desktop-down: "only screen and (min-width: 1200px)";

.hidden-md-down{
	@media #{$tablet-down}{
		display: none;
	}
}

.overflow{
	overflow: hidden;
}

//********************
// rests
//********************
ul{
	list-style: none;
}

.color-blue{
	color: $color-blue;
}

//********************
// center modal dialog
//********************
.modal-dialog {
	top: calc(50% - 107px);
	top: 50px;
	@media #{$mobi-xs-down}{
		top: 70px;
	}
}

//********************
// exclusive settings
//********************
.container-header{
	width: 100%;
	max-width: 1560px;
}

.container{
	width: 100%;
	max-width: 1300px !important;
}

//********************
// complements
//********************
.no-border{
	border: 0 !important;
}
.no-border-radius{
	border-radius: 0 !important;
}
.no-padding-right{
	padding-right: 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.truncate-text{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//********************
// buttons
//********************
.button{
  display: inline-block;
  padding: 10px 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
	border: 0;
	text-decoration: none;
	@media #{$notebook-down} {
		// width: 100%;
	}
	@extend .transition;
	&:hover{
		text-decoration: none;
	}	
}

.button-blue{
	@extend .button;
	color: $color-white;
	background: $color-blue;
	&:hover{
		color: $color-white;
		background: darken($color-blue, 20%);
	}	
}

.button-orange{
	@extend .button;
	color: $color-white;
	background: $color-orange;
	&:hover{
		color: $color-white;
		background: darken($color-orange, 10%);
	}	
}

.button-white{
	@extend .button;
	color: $color-blue;
	background: $color-white;
	&:hover{
		color: darken($color-blue, 10%);
		background: $color-white;
	}	
}

.button-gray{
	@extend .button;
	color: $color-gray-light; 
	background: $color-white;
	&:hover{
		color: darken($color-gray-light, 10%);
		background: $color-white;
	}	
}

.button-flat{
  display: inline-block;
  padding: 10px 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	color: $color-orange;
	text-align: center;
	text-transform: uppercase;
	border: 3px solid $color-orange;
	border-radius: 3px;
	text-decoration: none;
	@media #{$mobi-down} {
		width: 100%;
	}
	@extend .transition;
	&:hover{
		text-decoration: none;
		color: darken($color-white, 0%);
		background: darken($color-orange, 0%);
	}
}

//********************
// effects
//********************
.transition{
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.after-bg{
	position: absolute;
	bottom: -20px;
	left: 100px;
	content:'';
	display: block;
	width: 303px;
	height: 6px;
	background: url(../images/svg/bg-headlines.svg) no-repeat;
	@media #{$mobi-down}{
		left: 30px;
	}
	@media #{$mobi-xs-down}{
		max-width: 200px;
	}
}

.tag-round{
	font-size: 1.25rem;
	font-weight: 100;
	color: $color-white;
	padding: 5px 15px;
	border-radius: 20px;
	background: lighten($color-blue, 25%);
	@extend .transition;
}

.social-mixin{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9;
	.share{
		display: block;
		a{
			display: block;
			margin-bottom: 15px;
			text-align: center;
			width: 29px;
			height: 29px;
			line-height: 31px;
			border-radius: 15px;
			background: rgba(255, 255, 255, .5);
      -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
			@extend .transition;
			i{
				font-size: 1.25rem;
				color: $color-white;
				@extend .transition;
			}
			&.fb-link{
				&:hover{
					text-decoration: none;
					background: #3C589E;
				}
			}
			&.tw-link{
				&:hover{
					text-decoration: none;
					background: #00ACED;
				}
			}
		}
	}
}

.side-menu-news{
li{
	&.title{
			display: block;
			font-family: 'Raleway', sans-serif;
		  font-weight: 700;
			text-transform: uppercase;
		}
		a{
			&.active, &:hover{
				color: $color-orange !important;
			}
		}		
	}
}


.form-login{
	button{
		font-size: 1.4rem;
		margin: 15px 0 15px;
		cursor: pointer;
	}
	input{
    margin: 5px 0 15px;
    padding: 10px 0;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-indent: 35px;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    &.user{
  		background: url(../images/svg/user.svg) no-repeat center left;
    }
    &.paswword{
  		background: url(../images/svg/paswword.svg) no-repeat center left;
    }
	}
	label, span{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: lighten($color-black, 30%);
	}
	label{
		padding: 0;				
	}
	span{
		display: block;
		text-align: center;
		a{
			color: $color-orange;
			@extend .transition;
			&:hover{
				color: darken($color-orange, 10%);
				text-decoration: none;
			}
		}
	}
	.btnSaldo{
		font-size: 1.4rem;
		margin: 20px 0 0;
	}
}

ul.breadcrumb-gebsa{
	list-style: none;
	margin-bottom: 50px;
	li{
		float: left;
		i{
			font-size: 1rem;
	    font-weight: bold;
	    padding: 0 10px;
	    color: lighten($color-blue, 10%);
		}
		a{
				color: lighten($color-gray-light, 40%);
			i{
				font-size: 1.65rem;
				color: lighten($color-gray-light, 40%);
			}
		}
	}
}

.table{
		margin-bottom: 65px;
		font-size: 1.8rem;
		thead{
			color: $color-white;
			th{
		    padding: 1.35rem 1.35rem;
				background-color: #425278;
				&:first-child{
					border-top-left-radius: 8px;
				}			
				&:last-child{
					border-top-right-radius: 8px;
				}				
			}
		}
		tbody{
			td{
		    padding: 2.35rem 1.35rem;
				border-top: 7px solid $color-white;
				background: #F4F5F9;		
				&:last-child{
					color: lighten($color-blue, 15%);
				}				
			}
		}
		tfoot{
			font-size: 1.9rem;
			font-weight: bold;
			background: #E1E7FF;
			td{
				padding: 2.35rem 1.35rem;
				border-top: 7px solid $color-white;
				&:first-child{
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
				}			
				&:last-child{
					color: lighten($color-blue, 15%);
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;
				}				
			}
		}
	}